{% unless page.no_header %}
  <header>
    {% if index %}
      {% if post.external-url %}
        <a href="{{ post.external-url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
        <a href="{{ root_url }}{{ post.url }}">&#8801;</a>
      {% else %}
        <h5 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h5>
      {% endif %}
    {% else %}
      {% if page.external-url %}
        <a href="{{ page.external-url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a>
      {% else %}
        <h1 class="entry-title"><a href="{{ root_url }}{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>
      {% endif %}
      {% unless page.meta == false %}
        <p class="meta">
          {% include post/date.html %}{{ time }}
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
          {% endif %}
        </p>
      {% endunless %}
    {% endif %}
  </header>
{% endunless %}
{% unless index %}
  <div class="entry-content">
    {{ content | markdownify }}
    {% include post/sharing.html %}
  </div>
{% endunless %}
