<div class="container">
  <header class="nav">
    <div class="row">
      <div class="col-sm-4 title"><a href="/">Gerlando Piro</a></div>
      <div class="col-sm-8 links">
        <a href="">Web Development</a>
        <a href="">Design</a>
        <a href="">Screen Printing</a>
      </div>
    </div>
    <div class="row">
        <div class="alert alert-info">
            I've launched a t-shirt line! <a href="http://pointsofinterest.clothing">Check it out.</a>
        </div>
    </div>
  </header>
</div>
