<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="navbar-brand" href="/">Gerlando Piro</a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav pull-left">
          <li><a href="/bitcoin-mining">Bitcoin Mining</a></li>
          <li><a href="http://colorpalettes.gerlandopiro.com">Color Palletes</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="http://twitter.com/gpxl">Twitter</a></li>
          <li><a href="http://github.com/gpxl">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="offset1 span10">
    </div>
  </div>
</div>
