{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div id="Box">
    <div id="Sidebar">
      {% include header.html %}
      {% include navigation.html %}
      <div id="Footer">
        {% include footer.html %}
      </div>
    </div>
    <div id="Main">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
</body>
</html>
