 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  font-weight: $base-font-weight;
}

p {
  margin-bottom: $spacing-unit;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: darken($link-color, 10%);
  text-decoration: underline;
}

h1 {
  font-size: $base-font-size * 3;
  font-weight: 600;
}

h2 {
  font-weight: 100;
}

.container {
  padding: 0 ($spacing-unit);
}

header {
  margin: $spacing-unit 0;
  text-align: center;
  a span.fa-stack {
    display: inline-block;
    margin: $spacing-unit 5px 0 5px;
  }
}

footer {
  margin-top: $spacing-unit * 2;
  height: $spacing-unit;
  background: lighten($text-color, 80%);
}

.post {
  margin-bottom: $spacing-unit/2;
  h2 {
    display: inline-block;
    margin-right: $spacing-unit/4;
  }
}

.back-link {
  .fa-stack { top: -2px; }
}
